APP_URL="MY_APP_URL"

# Stripe Configuration
# Kopiere diese Datei zu ".env" (oder ".env.local") und trage hier deine echten Stripe Keys ein.
# Den Public Key findest du im Stripe Dashboard unter "Entwickler" -> "API-Schlüssel".
VITE_STRIPE_PUBLIC_KEY="sk_test_51SrEUpICdVUzz6VcLU2lpy9d4s8MzqmOeGIuYUzcfdYp4GLxYHJVxPuMnX6pWEJzL5O1QOet683dVnVqEoUF11bi00ckPEs2SW"

# Die Price ID findest du im Stripe Dashboard unter "Produkte" -> (Dein Produkt) -> "Preise" -> "API-ID" (z.B. price_1N...)
VITE_STRIPE_PRICE_ID="price_1TFAUnICdVUzz6Vcoukg6ijX"
#test